header {
	background-color: whitesmoke;
	height: 4em;
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 0.1px solid gray;
	z-index: 10;
	top: 0;
}
header > div {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1em;
}
a {
	width: 100%;
}
.aLogo {
	width: 10em;
}
.logo {
	width: 100%;
	text-align: center;
}
.searchBar {
	width: 50%;
}
.tiles {
	display: flex;
	width: 20em;
}
.searchInput,
.searchButton {
	outline: none;
	border: .1px solid gray;
	border-radius: 45px;
	height: 2.5em;
	font-size: 14px;
}
.searchInput {
	width: 70%;
	text-indent: 1em;
}
.searchButton {
	width: 5em;
	margin-left: -2em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tile {
	width: 33.33%;
	display: block;
	text-align: center;
	height: inherit;
	border-radius: 15px 15px 0 0;
	padding-top: 6px;
}
.tile p {
	font-size: 14px;
}
.searchButton:hover,
.button:hover,
.tile:hover {
	color: white;
	background-color: rgb(34, 34, 34);
	cursor: pointer;
	box-shadow: 0 0 1em rgb(43, 43, 43);
}
.searchButton:active,
.button:active {
	background-color: rgb(55, 55, 55);
}
.bi-info-square {
	margin-top: 3px;
}
.accountTile {
	display: none;
	position: fixed;
	z-index: 10;
	background-color: whitesmoke;
	color: black;
	height: 10em;
	border-radius: 0 10px 10px 10px;
	box-shadow: 0 0 1em rgb(43, 43, 43);
}
.aPanelButton > .button {
	opacity: none;
	width: 80%;
	height: 2.5em;
	border: 0.1px solid gray;
	border-radius: 45px;
	margin: .5em 0;
}
.panelBetweenButtonsText {
	width: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.panelBetweenButtonsText span {
	padding: 0 .3em;
}
.cartTile {
	display: none;
	position: fixed;
	z-index: 10;
	height: 5em;
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 0 1em rgb(43, 43, 43);
	color: black;
}
.helpTile {
	display: none;
	position: fixed;
	z-index: 10;
	height: 10em;
	background-color: whitesmoke;
	border-radius: 10px 0 10px 10px;
	box-shadow: 0 0 1em rgb(43, 43, 43);
	color: black;
}
.helpTile a:link,
a:visited {
	text-decoration: none;
	color: black;
}
.panelCard {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5em;
}
.panelCard:hover {
	color: white;
	background-color: rgb(34, 34, 34);
}
.panelDisplay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
