fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	padding: 0 0 .5em 0;
}
fieldset label {
	padding: 0 0 .3em 0;
}
.registerContainer {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.registerContainer > span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	padding: .2em 0 .5em 0;
}
.registerForm {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.registerFormInput {
	outline: none;
	border: 1px solid gray;
	height: 1.8em;
	border-radius: 5px;
	text-indent: .7em;
	padding: 1em 0;
}
.checkboxes {
	display: block;
}
.checkboxes input {
	margin: 0 .5em 0 0;
}
.checkboxes span {
	font-size: 15px;
}
.checkboxes > div {
	margin: 0 0 .2em 0;
}
.registerContainer p {
	margin: .5em 0 0 0;
}
.registerContainer a {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}
.loginButtonRegisterPage {
	width: 100%;
}
.correct {
	border: 1px solid green;
	background-color: rgb(204, 255, 204);
}
.incorrect {
	border: 1px solid red;
	background-color: rgb(255, 204, 204);
}
@media (min-width: 768px) and (max-width: 1365px) {
	.logoHome {
		width: 20%;
		margin: 0 0 0 3em;
	}
	.registerForm {
		width: 40%;
	}
	.loginButtonRegisterPage {
		width: 40%;
	}
}
@media (min-width: 1366px) {
	.logoHome {
		width: 20%;
		margin: 0 0 0 5em;
	}
	.registerForm {
		width: 40%;
	}
	.loginButtonRegisterPage {
		width: 30%;
	}
}
@media (min-width: 1920px) {
	.logoHome {
		width: 20%;
		margin: 0 0 0 6em;
	}
	.registerForm {
		width: 30%;
	}
	.loginButtonRegisterPage {
		width: 20%;
	}
}
